[user]
	email = 46939409+mierenhoop@users.noreply.github.com
	name = mierenhoop

[includeIf "gitdir:~/school/"]
	path = ~/.gitconfig-school

[core]
	editor = vim
	excludesFile = ~/.gitignore

[commit]
	verbose = true

[pull]
	ff = only

[push]
	autoSetupRemote = true

[grep]
	fallbackToNoIndex = true
